.hll {
  background-color: #ffffcc;
}
.c {
  color: #999;
}
.err {
  color: #AA0000;
  background-color: #ffaaaa;
}
.k {
  color: #006699;
}
.o {
  color: #555555;
}
.cm {
  color: #999;
}
.cp {
  color: #009999;
}
.c1 {
  color: #999;
}
.cs {
  color: #999;
}
